<!DOCTYPE html>
<html>
<head>
  <title>Eneej</title>
  <%= stylesheet_link_tag  :all %>
  <%= stylesheet_link_tag  "http://fonts.googleapis.com/css?family=Magra" %>
  <%= javascript_include_tag :defaults, "https://apis.google.com/js/plusone.js", "//platform.twitter.com/widgets.js"     %>
</head>
<body>

<%= yield %>

</body>

</html>
